### Using Name corpus, calculating the probability of a name being of a male or female base on the last character(s) of name.

In [43]:
from nltk.corpus import names
import string

In [44]:
names.fileids()

['female.txt', 'male.txt']

In [45]:
char_list = list(string.ascii_lowercase)
print(char_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [46]:
female_names = names.words('female.txt')

In [47]:
female_dis = []

In [48]:
for char in char_list:
    female_dis.append((char, len([lambda : name for name in female_names if name.endswith(char)])))

In [49]:
print(female_dis)

[('a', 1773), ('b', 9), ('c', 0), ('d', 39), ('e', 1432), ('f', 2), ('g', 10), ('h', 105), ('i', 317), ('j', 1), ('k', 3), ('l', 179), ('m', 13), ('n', 386), ('o', 33), ('p', 2), ('q', 0), ('r', 47), ('s', 93), ('t', 68), ('u', 6), ('v', 2), ('w', 5), ('x', 10), ('y', 461), ('z', 4)]

In [50]:
male_names = names.words('male.txt')

In [51]:
male_dis = []

In [52]:
for char in char_list:
    male_dis.append((char, len([lambda : name for name in male_names if name.endswith(char)])))

In [53]:
print(male_dis)

[('a', 29), ('b', 21), ('c', 25), ('d', 228), ('e', 468), ('f', 25), ('g', 32), ('h', 93), ('i', 50), ('j', 3), ('k', 69), ('l', 187), ('m', 70), ('n', 478), ('o', 165), ('p', 18), ('q', 0), ('r', 190), ('s', 230), ('t', 164), ('u', 12), ('v', 16), ('w', 17), ('x', 10), ('y', 332), ('z', 11)]

In [54]:
probability_list = []
df_list = []
index = 0

In [55]:
for char in char_list:
    total = male_dis[index][1] + female_dis[index][1]
    if total != 0:       # Return Error without this line when loop runs to character 'q' -- Divided by zero!
        male_pro = 100 * male_dis[index][1] / total
        female_pro = 100 * female_dis[index][1] / total
        probability_list.append((char,{'male': male_pro, 'female': female_pro}))
        df_list.append((char,[male_pro, female_pro]))
    else:
        probability_list.append((char,{'male': 0, 'female': 0}))
        df_list.append((char,[0, 0]))
    index += 1

In [56]:
print('The Probability of a Name being a Male or Female:\n', probability_list)

The Probability of a Name being a Male or Female:
 [('a', {'female': 98.3906770255272, 'male': 1.609322974472808}), ('b', {'female': 30.0, 'male': 70.0}), ('c', {'female': 0.0, 'male': 100.0}), ('d', {'female': 14.606741573033707, 'male': 85.3932584269663}), ('e', {'female': 75.36842105263158, 'male': 24.63157894736842}), ('f', {'female': 7.407407407407407, 'male': 92.5925925925926}), ('g', {'female': 23.80952380952381, 'male': 76.19047619047619}), ('h', {'female': 53.03030303030303, 'male': 46.96969696969697}), ('i', {'female': 86.37602179836512, 'male': 13.623978201634877}), ('j', {'female': 25.0, 'male': 75.0}), ('k', {'female': 4.166666666666667, 'male': 95.83333333333333}), ('l', {'female': 48.90710382513661, 'male': 51.09289617486339}), ('m', {'female': 15.662650602409638, 'male': 84.33734939759036}), ('n', {'female': 44.675925925925924, 'male': 55.324074074074076}), ('o', {'female': 16.666666666666668, 'male': 83.33333333333333}), ('p', {'female': 10.0, 'male': 90.0}), ('q', {'female': 0, 'male': 0}), ('r', {'female': 19.831223628691983, 'male': 80.16877637130801}), ('s', {'female': 28.792569659442723, 'male': 71.20743034055728}), ('t', {'female': 29.310344827586206, 'male': 70.6896551724138}), ('u', {'female': 33.333333333333336, 'male': 66.66666666666667}), ('v', {'female': 11.11111111111111, 'male': 88.88888888888889}), ('w', {'female': 22.727272727272727, 'male': 77.27272727272727}), ('x', {'female': 50.0, 'male': 50.0}), ('y', {'female': 58.13366960907945, 'male': 41.86633039092055}), ('z', {'female': 26.666666666666668, 'male': 73.33333333333333})]

In [57]:
import pandas as pd

In [58]:
new_df_list = [pro[1] for pro in df_list]

In [59]:
df = pd.DataFrame(new_df_list, index=char_list, columns=['Male', 'Female'])

In [60]:
df

         Male     Female
a    1.609323  98.390677
b   70.000000  30.000000
c  100.000000   0.000000
d   85.393258  14.606742
e   24.631579  75.368421
f   92.592593   7.407407
g   76.190476  23.809524
h   46.969697  53.030303
i   13.623978  86.376022
j   75.000000  25.000000
k   95.833333   4.166667
l   51.092896  48.907104
m   84.337349  15.662651
n   55.324074  44.675926
o   83.333333  16.666667
p   90.000000  10.000000
q    0.000000   0.000000
r   80.168776  19.831224
s   71.207430  28.792570
t   70.689655  29.310345
u   66.666667  33.333333
v   88.888889  11.111111
w   77.272727  22.727273
x   50.000000  50.000000
y   41.866330  58.133670
z   73.333333  26.666667